<!DOCTYPE html>

<h1> Nutrition History </h1>

<form method="post" action="app/home" class ="form-container">

    <p>
        <input type="submit" value="Return home" class="login-btn">
    </p>
    
    </form>


<body>
    <div class="text-box">
      <ul>
      <%data.forEach(function(dat) {%>
     <p>Date and time: <%= dat.date %></p>
      <p>Description: <%= dat.description %></p>
      <p>Calories: <%= dat.calories %></p>
      <p>Protein: <%= dat.protein%></p>
      <p>Carbs: <%= dat.carbs%></p>
      <p>Fat: <%= dat.fats%></p><br>
      <%});%>
    </ul>
   </body>

  