Hello.
<form method="post" action="app/delete_acc">
    <h2>Enter your username and password if you want to delete your account.</h2>
    <p>
        <label for="username">Username</label>
        <input type="text" name="username" id="username">
      </p>
      <p>
        <label for="password">Password</label>
        <input type="text" name="password" id="password">
      </p>
      <p>

    <p>
        <input type="submit" value="Delete account" class="login-btn">
    </p>

</form>

<form method="post" action="/log_meal">
    <h2>Log your meal here.</h2>
    <p>
        <label for="calories">calories</label>
        <input type="number" name="calories" id="calories">
      </p>
      <p>
        <label for="protein">protien</label>
        <input type="number" name="protein" id="protein">
      </p>
      <p>
        <label for="carbs">carbs</label>
        <input type="number" name="carbs" id="carbs">
      </p>
      <p>
        <label for="fats">fats</label>
        <input type="number" name="fats" id="fats">
      </p>

    <p>
        <input type="submit" value="Log" class="login-btn">
    </p>

</form>
