body{
	background-color: #19123B;
	height: 100%;
}

.bg{
	background-image: url("../images/background.jpg") no-repeat; width: 100%; height:100vh;

	background-position: center;
	background-size; cover;
;}

.form-container{border:1px solid #1345; padding:50px 60 px;}
body{
	background-image: url("../images/background.jpg");
}
